<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset= 'utf-8'>
    <title>メモアプリ</title>
</head>
<body>
    <div>
        <h1>メモアプリ</h1>
    </div>
    <div>
    <form action="/memos" method="post">
        <label for="title">タイトル</label><br>
        <textarea type="text" name="title" id="title" cols="20" rows="1"></textarea><br>
    </div>
    <div>
        <label for="content">内容</label><br>
        <textarea type="text" name="content" id="content" cols="20" rows="10"></textarea><br>
        <input type="submit" value="保存">
    </form>
    </div>
</body>
</html>