<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset= 'utf-8'>
    <title>メモアプリ</title>
</head>
<body>
    <form action="/top" method="get">
    <div>
        <h1>メモアプリ</h1>
    </div>
    <div>
        <h2><%=@title%></h2>
        <p><%=@content%></p>
    </div>
    </form>
    <div>
    <a href='/edit'><input type="submit" value="変更"></a>
    <input type="submit" value="削除">
    </div>
    
</body>
</html>
