<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset= 'utf-8'>
    <title>メモアプリ</title>
</head>
<body>
    <div>
        <h1>メモアプリ</h1>
    </div>
    <div>
        <h2><%=@memo["title"]%></h2>
        <p><%=@memo["content"]%></p>
    </div>
    <div>
    <a href='/memos/<%=@id%>/edit'><input type="submit" value="編集"></a>
    <input type="submit" value="削除">
    </div>
    
</body>
</html>